{% extends "N9Bundle::layout.html.twig" %}

{% block title %}{{ parent() }} | Nine Arcade Adventude{% endblock %}

{% block pagetitle %}Nine Arcade Adventude{% endblock %}

{% block body %}
    
    <div>
        <strong>Nine Arcade Adventure</strong> est mon nouveau projet extra-professionnel. Mon but est de partager avec vous les différentes étapes et les avancements de la conception de ma borne d'arcade.
    </div>
    
    
    
{% endblock %}